[submodule "An Open-source-supported Tutorial to HSC-based Structural Dynamics Identification"]
	path = An Open-source-supported Tutorial to HSC-based Structural Dynamics Identification
	url = git@github.com:domengorjup/mssp-image-tutorial
